@model AspnetCoreMvcFull.ModelDTO.Product.LoiThepCTLDTO

<!-- Table 1 -->
<table class="table table-bordered" style="width: 100%; border-collapse: collapse; padding:15px; text-align:center;">
    <thead>
        <tr style="background:#E7E6E6;">
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Mã Sản Phẩm</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Sản Phẩm</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Nhiệt Độ Đầu Máy Đùn</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Nhiệt Độ Trục Xoắn</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Tốc Độ Cooling Drum<br />(rpm)</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background:white;">
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.mahang</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.name</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.nhietdodaumaydun</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.nhietdotrucxoan</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.tocdocolingdrum</td>
        </tr>
    </tbody>
</table>

<!-- Table 2 -->
<table class="table table-bordered" style="width: 100%; border-collapse: collapse; text-align:center; margin-top:20px;">
    <thead>
        <tr style="background:#E7E6E6; text-align: center;">
            <th colspan="2" style="border: 1px solid black; width:40%; color: black; font-weight:700;">Lõi Thép</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Cao Su Đùn</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Cao Su Kết Dính</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Cao Su Bố</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background:#DDEAFA;">
            <td style="border: 1px solid black; color: black; font-weight:700; width:20%;">Trước Khi Đùn</td>
            <td style="border: 1px solid black; color: black; font-weight:700;">Sau Khi Đùn</td>
            <td style="border: 1px solid black; color: black; font-weight:700;">R514-1</td>
            <td style="border: 1px solid black; color: black; font-weight:700;">R514-1</td>
            <td style="border: 1px solid black; color: black; font-weight:700;">R514-1(2T)+NN50+DAI-303(3.5T)(0.7/2.8.T)</td>
        </tr>
        <tr style="background:white;">
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.loitheptruockhidun</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.loithepsaukhidun</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.caosur514</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.caosuketdinh</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.caosubo</td>
        </tr>
    </tbody>
</table>

<!-- Table 3 -->
<table class="table table-bordered" style="width: 100%; border-collapse: collapse; text-align:center; margin-top:20px;">
    <thead>
        <tr style="background:#E7E6E6;">
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Tốc Độ Đùn Cao Su<br/>(rpm)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Áp Lực Đầu Đùn Lõi Thép<br />(kgf/cm2)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Tốc Độ Quấn</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Chiều Dài Lõi Thép<br/>(mm)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Số Link</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background:white;">
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.tocdoduncaosu</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.aplucdaudunloithep</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.tocdoquan</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.chieudailoithep</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.solink</td>
        </tr>
    </tbody>
</table>

<!-- Table 4 -->
<table class="table table-bordered" style="width: 100%; border-collapse: collapse; text-align:center; margin-top:20px;">
    <thead>
        <tr style="background:#E7E6E6;">
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Số Sợi Lõi Thép<br/>(ea)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Khổ Lõi Thép<br />(mm)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Độ Dày Cao Su Kết Dính 3T<br/>(mm)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Khổ Cao Su Kết Dính 3T<br/>(mm)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Độ Dày Cao Su Bố<br/>(mm)</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background:white;">
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.sosoiloithep</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.kholoithep</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.dodaycaosuketdinh3t</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.khocaosuketdinh3t</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.dodaycaosubo</td>
        </tr>
    </tbody>
</table>

<!-- Table 5 -->
<table class="table table-bordered" style="width: 100%; border-collapse: collapse; text-align:center; margin-top:20px;">
    <thead>
        <tr style="background:#E7E6E6;">
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Khổ Cao Su Bố<br/>(mm)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Trọng Lượng Lõi Thép Spinning<br />(kg)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Khoảng Cách 2 Đầu Mối Nối Lõi Thép<br/>(mm)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Khoảng Cách 2 Đầu Mối Nối Bố<br/>(mm)</th>
            <th style="border: 1px solid black; width:20%; color: black; font-weight:700;">Kích Thước Của Cao Su Dán Mối Nối<br />(mm)</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background:white;">
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.khocaosubo</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.trongluongloithepspinning</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.khoangcach2daumoinoiloithep</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.khoangcach2daumoinoibo</td>
            <td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.kichthuoccuacaosudanmoinoi</td>
        </tr>
    </tbody>
</table>
